**/*.log
.ipynb_checkpoints
.DS_Store
.bash_history         
.bash_profile          
.conda/                
.condarc               
.gitconfig              
.ipython/              
.jupyter/              
.lesshst               
.vscode/               